<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">web_app</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>@Html.ActionLink("Feed", "Index", "Feed")</li>
                <li>@Html.ActionLink("Trakt", "Index", "Trakt")</li>
                <li>@Html.ActionLink("Contenful Homepage", "Index", "ContenfulHomepage")</li>
                <li>@Html.ActionLink("Twitch", "Index", "Twitch")</li>
                <li>@Html.ActionLink("Db", "Index", "LocalDb")</li>
                <li>@Html.ActionLink("Lol Esports Team", "Index", "LolEsports")</li>
            </ul>
        </div>
    </div>
</nav>